head {
    background-color: #03312E;
    text-align: center;
    font-family: Georgia, sans-serif;
    font-size: large;
}
body {
    margin: 0;
    padding: 0;
    font-family: Georgia, sans-serif;
    font-size: medium;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F2F2F2;
}