head {
    background-color: #03312E;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: small;
}

.image-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1, h2, .image-container {
    margin: 0 auto;
}
         
body {
    margin: 0;
    padding: 0;
    font-family:Helvetica, sans-serif;
    font-size: small;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F2F2F2;
}
header {
    background-color: #03312E;
    padding: 10px;
    color: #FFF;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
    list-style: none;
}

nav li {
    list-style: none;
    margin-right: 10px;
}

content {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 800px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

content p {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    
}/* Custom styling for the email icon */
.email-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("icons8-email-50.png");
    transition: transform 0.3s ease; /* Transition for the hover effect */
  }
  
  /* Custom styling for the phone icon */
  .phone-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("icons8-smartphone-50 (1).png");
    transition: transform 0.3s ease; /* Transition for the hover effect */
  }
  
  /* Add hover effect to enlarge both email and phone icons slightly on hover */
  .footer-icons a:hover {
    transform: scale(1.1); /* Adjust the scale factor as needed */
  }